<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Fragments/fragment::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body th:bgcolor="gray">
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1>About Us</h1>
        <p>
            Start collect your contactEntity with a smarter way.
            We provide a very efficient and smarter way of handling contacts.
        </p>
        <Button class="btn btn-primary btn-large" th:href="@{/signup}">Get Start</Button>
    </div>
</section>
</body>
</html>

