<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>This is home page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">

    <div class="text-center">
        <h1>Smart Student Manager</h1>
        <p> Start manage your student with a smarter way.
            We provide a very efficient and smarter way of handling student.
        </p>
    </div>

</section>

</body>
</html>